@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;500&family=Raleway:wght@100;500&display=swap');


:root {
    /* CSS HEX */
    --powder-blue: #c0deddff;
    --dark-sky-blue: #7fbdd4ff;
    --persian-plum: #77191eff;
    --maximum-red: #cd2f24ff;
    --arylide-yellow: #ebd65eff;

    /* CSS HSL */
    --powder-blue: hsla(178, 31%, 81%, 1);
    --dark-sky-blue: hsla(196, 50%, 66%, 1);
    --persian-plum: hsla(357, 65%, 28%, 1);
    --maximum-red: hsla(4, 70%, 47%, 1);
    --arylide-yellow: hsla(51, 78%, 65%, 1);
}

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Montserrat Alternates', sans-serif;
}

h1 img {
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -8px;
}

.wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
}

.container {
    display: grid;
    grid-template-rows: minmax(1fr, 250px) 1fr 30px;
    grid-template-columns: 320px 3fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main"
        "footer footer"
    ;
}

.sidebar {
    background-color: var(--dark-sky-blue);
    grid-area: sidebar;
    color: white;
    display: grid;
    grid-template-rows: 250px 1fr;
    z-index: 2;
}

.sidebar a {
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

.nav ul {
    list-style-type: none;
}

li {
    display: block;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 20px;
}

li img {
    vertical-align: middle;
    margin-right: 20px;
    margin-top: -10px;
}

.main,
.header {
    padding: 30px;
}

.header {
    grid-area: header;
    background-color: white;
    color: black;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px #989898;
    z-index: 1;
}

.main {
    grid-area: main;
    background-color: hsl(225, 24%, 93%);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "spreads announcements"
        "spreads trending"
    ;
}

.main div {
    border-radius: 10px;
}

.spreads {
    grid-area: spreads;
    margin-right: 20px;
}

.spreads .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.yellow {
    border-left: 10px solid var(--arylide-yellow);
}

.plum {
    border-left: 10px solid var(--persian-plum);
}

.red {
    border-left: 10px solid var(--maximum-red);

}

.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
}

.card {
    box-shadow: 3px 3px 6px #cacaca;
    background-color: white;
    padding: 20px;
}

.buttons {
    display: flex;
    justify-content: end;
}

.buttons img {
    margin: 5px;
}

.announcements {
    grid-area: announcements;
}

p,
.title {
    color: #8f8f8f;
}

.trending {
    grid-area: trending;
}

.trending .card {
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    justify-content: center;
}

.actions button {
    background-color: var(--dark-sky-blue);
    border: none;
    width: 100px;
    color: white;
    font-weight: 500;
}

.search,
.login,
.account,
.actions {
    display: flex;
    align-items: center;
}

.account p {
    color: black;
}

.login,
.actions {
    justify-self: end;
}

.login img,
.user {
    margin: 10px;
}

input,
.actions button {
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

input {
    width: 80%;
}

.search input,
.search button {
    border: none;
    background-color: hsl(225, 24%, 93%);
}

.search button {
    background-color: transparent;
    vertical-align: middle;
}

.account img {
    margin-right: 30px;
}

.white {
    filter: invert(100%) sepia(0%) saturate(7487%) hue-rotate(327deg) brightness(106%) contrast(101%);
}

.small {
    height: 20px;
}

.medium {
    height: 50px;
}

.large {
    height: 70px;
}

.pic {
    border-radius: 50px;
}

.greeting {
    font-size: 2rem;
    font-family: 'Montserrat Alternates', sans-serif;
}

hr {
    border-top: 1px solid hsl(225, 24%, 93%);
}

.footer {
    grid-area: footer;
    padding: 5px;
    text-align: center;
    color: white;
    background-color: var(--persian-plum);
    width: 100%;
    box-shadow: 0px 0px 5px #989898;
    z-index: 1;
}