@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;500&family=Raleway:wght@100;500&display=swap');


:root {
    /* CSS HEX */
    --powder-blue: #c0deddff;
    --dark-sky-blue: #7fbdd4ff;
    --persian-plum: #77191eff;
    --maximum-red: #cd2f24ff;
    --arylide-yellow: #ebd65eff;

    /* CSS HSL */
    --powder-blue: hsla(178, 31%, 81%, 1);
    --dark-sky-blue: hsla(196, 50%, 66%, 1);
    --persian-plum: hsla(357, 65%, 28%, 1);
    --maximum-red: hsla(4, 70%, 47%, 1);
    --arylide-yellow: hsla(51, 78%, 65%, 1);
}

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {}

h1,
h2,
h3 {
    font-family: 'Montserrat Alternates', sans-serif;
}

h1 img {
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -8px;
}

.wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
}

.container {
    display: grid;
    grid-template: 200px 1fr / minmax(300px, 1fr) 5fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main"
    ;
}

.sidebar {
    background-color: var(--dark-sky-blue);
    grid-area: sidebar;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sidebar .nav {}

.sidebar a {
    text-decoration: none;
    color: white;
}

.nav ul,
.admin-links ul {
    list-style-type: none;
}

li {
    display: block;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 20px;
}

li img {
    vertical-align: middle;
    margin-right: 20px;
    margin-top: -10px;
}

.main,
.header {
    padding: 30px;
}

.header {
    grid-area: header;
    background-color: white;
    color: black;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    align-items: center;
    justify-content: center;
}

.main {
    grid-area: main;
    background-color: hsl(225, 24%, 93%);
}

.main div {
    border-radius: 10px;
}

.spreads {}

.announcements {}

.trending {}

.actions button {
    background-color: var(--dark-sky-blue);
    border: none;
    width: 100px;
    color: white;
    font-weight: 500;
}

.search,
.login,
.account,
.actions {
    display: flex;
    align-items: center;
}

.login,
.actions {
    justify-self: end;
}

.login img,
.user {
    margin: 10px;
}

input,
.actions button {
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

input {
    width: 80%;
}

.search input,
.search button {
    border: none;
    background-color: hsl(225, 24%, 93%);
}

.search button {
    background-color: transparent;
    vertical-align: middle;
}

.account img {
    margin-right: 30px;
}

.white {
    filter: invert(100%) sepia(0%) saturate(7487%) hue-rotate(327deg) brightness(106%) contrast(101%);
}

.small {
    height: 30px;
}

.medium {
    height: 50px;
}

.large {
    height: 70px;
}

.pic {
    border-radius: 50px;
}

.greeting {
    font-size: 2rem;
    font-family: 'Montserrat Alternates', sans-serif;
}